<h1>Information & Instructions</h1>

<p>
<h3>Purpose of this App:</h3>
One of the most effective ways of preventing substance overdose is to make sure someone stays with you while you use. This, however, is not always an option for everybody. Komodo was created in hopes of mitigating this issue. It lets a client create emergency contacts and start a timer when they are about to use a substance. If the timer is not stopped before it runs out, it will text their contacts with the client's address, map and other information pre-created by the client.
</p>

<p>
<h3>Warning:  We say it on the Dashboard and we say it again because it cannot be emphasized enough. We do not want our app to create a false sense of security for anybody. This app is not meant to be a catch-all. Your contacts may not receive the text, or may not be able to respond. Overdose is rapidly fatal. IN ADDITION THIS APP IS IN PRE-PRODUCTION TESTING AND SHOULD NOT BE USED EXCEPT FOR EXPERIMENTATION PURPOSES.</h3>
</p>

<p>
<h3>How to use Komodo:</h3>
<h5>Sign In:</h5>
Sign in with Google at https://komodo-frontend.herokuapp.com. If you do not have a Google account, you will have to create one at Google Account Page .<br>
<h5>Create an Account:</h5>
The first time you sign in, a new account will automatically be created for you and you will be taken to a page to put in your phone number. Phone number is required. After that signing in will always take you to your Dashboard.<br>
<h5>Dashboard:</h5>
In the Dashboard, you can create timers, contacts, and logout.<br>
<h5>Timers</h5>
Timer is where you put most of the information we need to send out alerts. Here, you can create multiple timers with duration in minutes, and any other information that you want to be sent out in the alert texts, such as an instruction on how to enter the building, etc.  Once a timer is created, you can click on the timer’s name, you will be taken to its show page where you can start and stop the timer, and also update details.<br>
<h5>Contacts</h5>
These are the people we will be texting if you don’t stop the timer before it runs out. You can have up to 5 contacts. You can create contacts by pressing the “Create Contact” button at the bottom. All you need is their names (they don’t have to be real) and phone numbers (these do need to be real although we do not verify them). The contacts will not be notified when they are created, and we will not contact them unless a timer goes off. You can delete or update contact information in the Dashboard.<br>
</p>
