
<h3>Safety warning: this app can only provide limited harm reduction.<br>Your contacts may not receive the text, or may not be able to respond.<br>Overdose is rapidly fatal. IN ADDITION THIS APP IS IN PRE-PRODUCTION TESTING AND SHOULD NOT BE USED EXCEPT FOR EXPERIMENTATION PURPOSES.
</h3>

<div class="btn btn-primary">
  <%= link_to 'Sign-In with Google', '/auth/google_oauth2', :class => "btn"  %>
</div>
