
<script>
  window.addEventListener('load', myFunction)
    function myFunction() {
        const second = 1000,
              minute = second * 60,
              hour = minute * 60,
              day = hour * 24;
        const countDown = new Date().getTime() + ('<%= @timer.duration %>' * 60000),
            x = setInterval(function() {
              const now = new Date().getTime(),
                    distance = countDown - now;
                document.getElementById("days").innerText = Math.floor(distance / (day)),
                document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
                document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
                document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);
              if (distance < 0) {
                document.getElementById("headline").innerText = "Timer has expired, contacts will be sent your location.";
                document.getElementById("countdown").style.display = "none";
                document.getElementById("content").style.display = "block";
                clearInterval(x);
              }
            }, 0)
    }
</script>

<div class="container">
  <h1 id="headline">Countdown Timer</h1>
  <div id="countdown">
    <ul>
      <li><span id="days"></span>days</li>
      <li><span id="hours"></span>Hours</li>
      <li><span id="minutes"></span>Minutes</li>
      <li><span id="seconds"></span>Seconds</li>
    </ul>
  </div>
</div>

<%= button_to 'Stop Timer', "/active_timers/#{@timer.id}", params: { update_status: 'Stopped' }, method: :patch %>